/*********************
Universal Elements
*********************/
@font-face {
    font-family: raleway;
    src: url(elements/Raleway-Regular.ttf);
}

body {
	color: white;
	font-family: raleway;
	text-align: center;
	margin: 0;
}

h1 {
	font-size: 1220%;
	margin: 0 0 0 0;	
}

h2 {
	font-size: 800%;
	margin: 0 0 0 0;
}

h3 {
    font-size: 350%;
    margin: 0 0 0 0;
}

/* Side list colour change */
.onepage-pagination li a:before{
  background: rgba(255, 255, 255, 0.85);
}

.onepage-pagination li a.active:before{
  border: 1px solid white;
}



/*********************
Page One
*********************/

.main section.page1 {
	background: black;
}

/*********************
Page Two
*********************/
.main section.page2 {
	background: #006c9b;
}

/*********************
Media Queries
*********************/
/* Header size decreases */
@media only screen and (max-width: 570px) {
    h1 {
		font-size: 705%;
	
	}

	h2 {
		font-size: 336%;
	}

	h3 {
		font-size: 170%;
	}
		
}

