/*********************
Universal Elements
*********************/
@font-face {
    font-family: raleway;
    src: url(elements/Raleway-Regular.ttf);
}
		  

body {
    color: white;
    font-family: raleway;
    text-align: center;
    margin: 0;
}

.page_container {
		animation: fadein 4s;
}
	@keyframes fadein {
				from {
					opacity:0;
				}
				to {
					opacity:1;
				}
			

}

h1 {
    font-size: 1220%;
    margin: 0 0 0 0;
}

h2 {
    font-size: 800%;
    margin: 0 0 0 0;
}

h3 {
    font-size: 350%;
    margin: 0 0 0 0;
}

/* List styling dashes */
.main li {
    list-style-type: none;
    text-align: left;
}

.main li:before {
    content: '- ';
}

/* Side list colour change */
.onepage-pagination li a:before {
    background: rgba(255, 255, 255, 0.85);
}

.onepage-pagination li a.active:before {
    border: 1px solid white;
}

/* Header size decreases */
@media only screen and (max-width: 570px) {
    h1 {
        font-size: 705%;
    }

    h2 {
        font-size: 336%;
    }

    h3 {
        font-size: 170%;
    }
}

/*********************
Page One
*********************/
.main section.page1 {
    background: #272727;
}

.contactUs {
	background: #006c9b;
	display: inline-block;
	position: fixed;
	bottom: 0;
	left: 0;
	border-top-right-radius: 34px;
	padding: 30px;
	transition: .3s ease-in-out;
}

.contactUs:hover {
	background: #0090ce;
}

.contactUs a {
	text-decoration: none;
	color: white;
	padding: 30px;
}

/*********************
Page Two
*********************/
.main section.page2 {
    background: #006c9b;
}

.aboutDouble {
}

/* Left image */
.aboutDouble .logoImg {
    float: left;
    width: 35%;
}

.aboutDouble .logoImg img {
    width: 85%;
}

/* right image */
.aboutDouble .blurb {
    font-size: 210%;
    padding: 0 60px 0 0;
}

@media only screen and (max-width: 570px) {
    .aboutDouble .blurb {
        float: initial;
        padding: 0 10px;
        /* margin: 0; */
    }

    .aboutDouble img {
        display: none;
    }
}

/*********************
Page Three
*********************/
.main section.page3 {
    background: #272727;
}

.main section.page3 ul {
    font-size: 230%;
    line-height: 155%;
    margin: 15px 0 0 0;
}

/*********************
Page Four
*********************/
.main section.page4 {
    background: #006c9b;
}

.main section.page4 ul {
    font-size: 230%;
    line-height: 155%;
    margin: 15px 0 0 0;
}

/*********************
Page Five
*********************/
.main section.page5 {
    background: #272727;
}

.main section.page5 p {
	font-size: 185%
}

.main section.page5 h4 {
	font-size: 150%;
	margin: 18px;
}

.plans {
    display: flex;
    justify-content: center;
}

.plans .plan1 {
	background: #006c9b;
	width: 15%;
	padding: 7px;
}

.plans .plan2 {
    border-top: 7px solid orange;
    border-right: 7px solid orange;
    border-left: 7px solid orange;
    width: 30%;
    background: green;
}

.plans .plan3 {
    background: #006c9b;
    width: 15%;
    padding: 7px;
}

@media only screen and (max-width: 955px) {
    .plans .plan1, .plans .plan2, .plans .plan3 {
	width: 100%;
}

}